:root {
  --text: ;
  --text-h: ;
  --bg: ;
  --border: ;
  --code-bg: ;
  --accent: ;
  --accent-bg: ;
  --accent-border: ;
  --social-bg: ;
  --shadow: ;
  --heading: ;
  --mono: ;

  /* font: ;
  letter-spacing: ;
  color-scheme: ;
  color: ;
  background: ;
  font-synthesis: ;
  text-rendering: ;
  -webkit-font-smoothing: ;
  -moz-osx-font-smoothing: ; */

  @media (max-width: 1024px) {
    font-size: 16px;
  }
}

body {
  margin: 0;
}